[submodule "Chapter I/projetos/01-github-explorer"]
	path = Chapter I/projetos/01-github-explorer
	url = https://github.com/elianbecali/01-github-explorer
[submodule "Chapter I/desafios/desafio-conceitos-do-react"]
	path = Chapter I/desafios/desafio-conceitos-do-react
	url = https://github.com/elianbecali/desafio-conceitos-do-react
[submodule "Chapter I/desafios/watchme"]
	path = Chapter I/desafios/watchme
	url = https://github.com/elianbecali/watchme
[submodule "Chapter II/projetos/dtmoney"]
	path = Chapter II/projetos/dtmoney
	url = https://github.com/elianbecali/dtmoney
[submodule "Chapter II/desafios/rocketshoes"]
	path = Chapter II/desafios/rocketshoes
	url = https://github.com/elianbecali/rocketshoes
[submodule "Chapter II/desafios/refactoring-classes-ts"]
	path = Chapter II/desafios/refactoring-classes-ts
	url = https://github.com/elianbecali/refactoring-classes-ts
[submodule "Chapter III/desafios/spacetraveling"]
	path = Chapter III/desafios/spacetraveling
	url = https://github.com/elianbecali/spacetraveling
[submodule "Chapter III/projetos/ignews"]
	path = Chapter III/projetos/ignews
	url = https://github.com/elianbecali/ignews
[submodule "Chapter IV/projetos/dashgo"]
	path = Chapter IV/projetos/dashgo
	url = https://github.com/elianbecali/dashgo
[submodule "Chapter IV/desafios/ignite-reactjs-upload-de-imagens"]
	path = Chapter IV/desafios/ignite-reactjs-upload-de-imagens
	url = https://github.com/elianbecali/ignite-reactjs-upload-de-imagens
[submodule "Chapter IV/desafios/worldtrip"]
	path = Chapter IV/desafios/worldtrip
	url = https://github.com/elianbecali/worldtrip
